name: CI

on:
  push:
  pull_request:
    branches:
      - BABEL_1_X_DEV__13_4

jobs:
  build-and-run-tests:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - name: clone-repository
        uses: actions/checkout@v2
      - name: build-postgres
        run: |
          ./configure
          make world-bin -j8
      - name: run-tests
        run: |
          make check -j8
      - name: upload-test-summary
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: regression-summary
          path: src/test/regress/regression.out
      - name: upload-test-differences
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: regression-differences
          path: src/test/regress/regression.diffs
